<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>mercadoria</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>CompraServlet</servlet-name>
  	<servlet-class>servlet.CompraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CompraServlet</servlet-name>
  	<url-pattern>/servlet/compraServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ConsultaServlet</servlet-name>
  	<servlet-class>servlet.ConsultaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ConsultaServlet</servlet-name>
  	<url-pattern>/servlet/consultaServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>PrincipalServlet</servlet-name>
  	<servlet-class>servlet.PrincipalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PrincipalServlet</servlet-name>
  	<url-pattern>/servlet/principalServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>VendaServlet</servlet-name>
  	<servlet-class>servlet.VendaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>VendaServlet</servlet-name>
  	<url-pattern>/servlet/vendaServlet</url-pattern>
  </servlet-mapping>
</web-app>